
{% extends "layout.html" %}
{% block content %}
<h1>Welcome {{ session.username }}</h1>

<div class="container-narrow">
        <h1>Activity {{ activity.name }}</h1>
        <br/>

    <form id="NewOccurrenceForm" class="form form-register" method="POST" action="" role="form">
    <table class="table">
        <tr><th>Participant</th><th>Count</th><th></th></tr>
        {% for participant in activity.participants %}
        <tr>
            <td>
                {% if participant.user %}
                    {{participant.user.username }}
                {% else %}
                    {{participant.nick_name }}
                {% endif %}
            </td>
            <td>{{ participant.occurrences|length }}</td>
            <td><input type="submit" id="{{ participant.id }}"  name="{{ participant.id }}" value="+1" /></td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
