
{% extends "layout.html" %}
{% block content %}
<h1>Welcome {{ session.username }}</h1>

<div class="container-narrow">
    {%if activities|length > 0 %}
        <h1>Activities</h1>
        <br/>
        <ul>
        {% for activity in activities %}
            <li><a href="{{ url_for('activities.activity_detail', activity_id=activity.id) }}">{{ activity.name }}</a></li>
        {% endfor %}
        </ul>

    <h1>New Activity</h1>
    {% endif %}
    <form id="createActivityForm" class="form form-register" method="POST" action="" role="form">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{form.name.label}}
        {{form.name(placeholder="Name of the Activity", class_="form-control")}}
    </div>

    <div data-toggle="fieldset" id="participants-fieldset">
        <div class="form-group">
            {{ form.current_user_as_participant.label }}
            {{ form.current_user_as_participant }}
        </div>
        <div class="form-group">
            {{ form.participants.label }}
            {% for participant in form.participants %}
            <span data-toggle="fieldset-entry">
                {{ participant(placeholder="Name", class_="form-control") }}
                <!--button type="button" data-toggle="fieldset-remove-row" id="participant-{{loop.index0}}-remove">-</button-->
            </span>
            {% endfor %}
        </div>
        <button class="btn btn-default" type="button" data-toggle="fieldset-add-row" data-target="#participants-fieldset">Add another</button>
    </div>
    <div class="form-group"><input class="btn btn-default btn-submit" type="submit" value="Create"></div>
    </form>
</div>
{% endblock %}

{% block js %}
<script>$(function() {
    $("div[data-toggle=fieldset]").each(function() {
        var $this = $(this);

            //Add new entry
        $this.find("button[data-toggle=fieldset-add-row]").click(function() {
            var target = $($(this).data("target"))
            var oldrow = target.find("span[data-toggle=fieldset-entry]:last");
            var row = oldrow.clone(true, true);
            var new_input = row.find(":input").filter(":first");
            var elem_id = new_input.prop('id');
            var split_id = elem_id.split('-')
            var elem_num = parseInt(split_id[1]) + 1;
            row.attr('data-id', elem_num);
            var new_id=split_id[0] + '-' + elem_num;
            new_input.prop('id', new_id);
            new_input.prop('name', new_id);
            new_input.val("");
            oldrow.after(row);
        }); //End add new entry

                //Remove row
        $this.find("button[data-toggle=fieldset-remove-row]").click(function() {
            if($this.find("span[data-toggle=fieldset-entry]").length > 1) {
                var thisRow = $(this).closest("span[data-toggle=fieldset-entry]");
                thisRow.remove();
            }
        }); //End remove row
    });
});
</script>
{% endblock %}