
{% extends "layout.html" %}
{% block content %}
<h1>Welcome {{ session.username }}</h1>

<div class="container-narrow">
  <h1>New Activity</h1>
    <br/>
    <form id="createActivityForm" class="form form-register" method="POST" action="" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{form.name.label}}
                {{form.name(placeholder="Name of the Activity", class_="form-control")}}
            </div>
    <p><input class="btn btn-default btn-submit" type="submit" value="Create"></p>
    </form>
    <p><em>Already registered?</em> Click <a href="/">here</a> to login.</p>
</div>
{% endblock %}